<mapper namespace="com.legnaYet.mybatis.user.dao.IUserDao">
    <!-- sql的唯一标识：namespace.id来组成 ：statementId -->
    <select id="findAll" resultType="com.legnaYet.mybatis.user.pojo.User">
        select * from user
    </select>
    <select id="findByCondition"  resultType="com.legnaYet.mybatis.user.pojo.User" parameterType="com.legnaYet.mybatis.user.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>
</mapper>